body {
  text-align: center;
  background-color: #F7EFF0;
}

.h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 70px;
  color: #013341;
  margin:0;
}

.description {
  font-family: 'Julius Sans One', sans-serif;
  color: #0197A7;
  margin: 5px 0;
}

.flower{
    position: fixed;
}

.flower-yellow{
    display: none;
}

.vertical{
    width: 140px;
}

.horozontal{
    max-width: 340px;
}

.angle{
    max-width: 240px;
}

.flower-center{
    top: 37%;
    right: 45%;
    max-width: 250px;
    z-index: 10000;
}

.flower-top{
    top: 13%;
    right: 48%;
}

.flower-top-right{
    top: 21%;
    right: 38%;
}

.flower-right{
    top: 42%;
    right: 31%;
}

.flower-bottom-right{
    top: 54%;
    right: 37%;
}

.flower-bottom{
    top: 55%;
    right: 48%;
}

.flower-bottom-left{
    top: 54%;
    right: 53%;
}

.flower-left{
    top: 42%;
    right: 54%;
}

.flower-top-left{
    top: 23%;
    right: 53%;
}
